$main: #60f280;
$main-light1: #9af7ae;
$main-light2: #ccfbd6;
$main-dark1: #2f7f54;
$main-dark2: #085e2f;
$main-dark3: #002822;

$grey: #7a7a7a;
$grey-light1: #d6d6d6;
$grey-dark1: #444444;

$background: #232323;

$accent: #0cb9cc;
$accent-light1: #7adbe6;
$accent-light2: #caf1f6;
$accent-dark1: #177e89;
$accent-dark2: #223638;

$text: #fff0d1;

$border-radius: 4px;